h1 {
    color: #ffffff
}

h2 {
    color: #b41b1b
}

h3 {
    color: #b41b1b
}

h4 {
    color: #b41b1b
}

h5 {
    color: #b41b1b
}

h6 {
    color: #b41b1b
}

p {
    color: #ffffff;
    text-align: justify;
    /*text-align: right;*/
}

span {
    color: yellow;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

img {
    width: 300px;
    height: 200px;
}

